<div class="random">
  <%= link_to public_send("random_janken_#{@random_hand}_path") do %>
    <%= image_tag "rock.gif" %>
    <%= image_tag "scissors.gif" %>
    <%= image_tag "paper.gif" %>
  <% end %>
</div>
